{% extends 'layout.html' %}
{% block style %}
#content {
	height: 200px;
}
{% endblock %}
{% block content %}
	<div class="bs-example" data-example-id="simple-page-header">
		<div class="page-header">
			<h1>Memorandum</h1>
		</div>
	</div>
	<div class="bs-example" data-example-id="simple-thumbnails">
    <div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<form method="post" novalidate>
							{% csrf_token %}
							<input type="text" name="title" class="form-control" style="margin-bottom: 15px" placeholder="Title" autocomplete="off">
							<textarea type="text" name="content" id="content" class="form-control" style="margin-bottom: 15px" placeholder="Content" autocomplete="off"></textarea>
							<p class="text-right">
								<button class="btn btn-sm btn-success" id="addmemo" type="submit">
									<span class="glyphicon glyphicon-plus-sign"></span>
								</button>
							</p>
						</form>
					</div>
				</div>
			</div>
			{% for memo in memos %}
      <div class="col-sm-6 col-md-4">
				<div class="thumbnail" href="/memorandum/closer/{{memo.id}}/">
					<div class="caption">
						<h3>
							{{memo.title}}
							{% if memo.status %}
								<small class="status" id="{{memo.id}}"><span class="label label-success">Done</span></small>
							{% else %}
								<small class="status" id="{{memo.id}}"><span class="label label-default">In Progress</span></small>
							{% endif %}
						</h3>
						<p>{{memo.content}}</p>
						<p class="text-right">
							{% if not memo.status %}
								<a href="/memorandum/done/{{memo.id}}/" class="btn btn-sm btn-default" role="button">
									<span class="glyphicon glyphicon-check"></span>
								</a>
							{% endif %}
							<a href="/memorandum/delmemo/{{memo.id}}/" class="btn btn-sm btn-default" role="button">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
					</div>
				</div>
			</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
