{% extends 'layout.html' %}
{% block content %}
	<!-- Title -->
	<div class="bs-example" data-example-id="simple-page-header">
		<div class="page-header">
			<h1>Codebook</h1>
		</div>
	</div>

	<div class="panel panel-default">
		<!-- Search -->
		<div class="panel-body">
			<form method="post" novalidate>
				{% csrf_token %}
				<div class="col-xs-11">
					<input class="form-control" placeholder="Search for a Tag" style="margin-right: 15px" name="search" autocomplete="off">
				</div>
				<button class="btn btn-primary" id="search" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				<a class="btn btn-success" href="/codebook/addtag/">
					<span class="glyphicon glyphicon-plus-sign"></span>
				</a>
			</form>
		</div>
		
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>&emsp;&emsp;</th>
					<th>Tag</th>
					<th>Account</th>
					<th>Password</th>
					<th>TimeStamp</th>
					<th>&emsp;&emsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for tag in tags %}
					<tr>
						<td>&emsp;&emsp;</td>
						<td>{{tag.tag}}</td>
						<td>{{tag.unm}}</td>
						<td>{{tag.pwd}}</td>
						<td>{{tag.tsp}}</td>
						<td>
							<a class="btn btn-default btn-xs" href="/codebook/deltag/{{tag.id}}/">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<!-- Footer -->
		<div class="panel-footer">
			<div class="text-right">
			</div>
		</div>
	</div>
{% endblock %}